@charset "utf-8";
/* CSS Document */

.result1 {
float:left;
width:284px;
height:224px;
margin-left:110px;
}
.result2 {
width:231px;
height:173px;
margin-left:600px;
}
.result1 p{
text-align:center;
}
.result2 p{
text-align:center;
}
.button1 {
width:150px;
height:30px;
margin-left:200px;
margin-top:40px;
}
.button2 {
margin-top:-25px;
width:150px;
height:30px;
float:left;
margin-left:250px;
}